html {
  background: url("/back.png");
  min-height: 100vh;
}

body {
  font-family: "Merriweather", "Georgia", serif;
}

a {
  display: inline-block;
}

.f-mon {
  font-family: "Montserrat", sans-serif;
}

:root {
  --start-color: #513390;
  --end-color: #654baa;
}

.logo-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
}
