html {
  background-color: #fafafa;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  display: inline-block;
}

:root {
  --start-color: #5033909d;
  --end-color: #654baa;
}

.logo-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
}

img {
  display: inline-flex;
}
